<div class="page-header">
  <%= link_to todos_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to @todo, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing todo</h1>
</div>

<%= form_for(@todo, method: :put, :html => { :class => "form-horizontal" }) do |f| %>

  <div class="row">
    <div class="col-sm-4">
      <%= f.text_field :name, :class => "form-control", autofocus: true, placeholder: 'New Item' %>
      <%= f.hidden_field :done, value: false, :class => "form-control" %>
    </div>

    <div class="col-sm-2">
      <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
        <span class="glyphicon glyphicon-plus-sign"></span> Update
      <% end %>
    </div>
  </div>

<% end %>


