<div class="page-header">
  <h1>TuDu's</h1>
</div>


<%= render 'form' %>

<% if @todos.length>0 %>
  <span class="label label-info"><span class="badge alert-info"><%= @todos.length %></span>Todos</span>

  <ul class="list-group container">
    <% @todos.each do |todo| %>
      <li class="list-group-item list-group-item-info col-sm-7">
        <%= link_to todo_path(todo), method: :put do %>
          <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-ok"></span>
          </button>
        <% end %>

        <%= todo.name %>
      </li>
    <% end %>
  </ul>
<% else %>
  <div class="row container">
    <div class="list-group col-sm-4">
      <div class="list-group-item list-group-item-warning">
        You have no ToDo items. Add one now!
      </div>
    </div>
  </div>
<% end %>



<% if @dones.length > 0 %>
  <span class="label label-success"><span class="badge alert-success"><%= @dones.length %></span>Done</span>
  <%= link_to dones_path, method: :delete do %>
    <span class="label label-danger">Delete All</span>
  <% end %>
<% end %>
<ul class="list-group container">
  <% @dones.each do |done| %>
    <li class="list-group-item list-group-item-success col-sm-7">
      <%= link_to todo_path(done), method: :delete do %>
        <button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      <% end %>

      <%= done.name %>
    </li>
  <% end %>

</ul>
